<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>fbook</title>
	<style>
    .text-content{
        height: 100%;
        width: 100%;
        margin-bottom:10px;
        padding:0px;
        border: 1px solid #878d91;
        line-height: 28px;
        font-size: 28px;
    }
    </style>
</head>
<body>
<div class="container">
<div class="text-content">
    "古药郡为北荒天域十三郡之一，占地极广，可媲美一域，中心就是药都。而临近药都时，首先被众人看到的，是那座高耸入云，足有上千丈的巨大丹炉。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“好大的炼丹炉啊，比山峰还高，这是真的假的？”一只数十丈长的飞羽兽上，一个七八岁，娇俏可爱的小女孩惊诧道。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“当然是真的。这‘天炉’，乃是当年古药天君的法宝，在天君坐化后，就留在药都，数万年来，曾有不少天君前来，都无法带走它。据说只有晋升‘天丹师’，才能真正将这尊天炉炼化。”小女孩旁边，一位鹤发童颜的灰袍老者笑道。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“爷爷，天丹师是什么？您是吗？”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;小女孩眨巴大眼，好奇。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“天丹师乃是炼丹宗师之上的存在，又号称炼丹天师。放眼整个天荒，都屈指可数，更不用说北荒天域了。爷爷刚晋升炼丹大师，距离天丹师，还有十万八千里呢。”灰袍老者尴尬一笑。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“那我们北荒，就一个天丹师都没有吗？”小女孩撅起了小嘴，有些不甘心。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“若说北荒谁最有资格晋升天丹师....就只有丹盟的‘丹君’了。可惜，丹君已经有上百年未亲自出手炼丹，谁都不知道他现在丹术到了何等层次。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;老者摇头，正色吩咐孙女：</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“这次丹盟考核，全力以赴，一定要考入三品以上，只有成为炼丹师，才能算古药郡中的上等人。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“是，爷爷。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;小女孩乖巧点头。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;而在黑色马车中，同样有一番对话进行。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“主人，整个古药郡，足有数十座古城，但最鼎盛的还是‘药都’。执掌药都的是丹盟，这可是当年古药天君流传下来的传承。不仅古药郡。整个北荒，乃至周围十数个荒域的炼丹师，都以丹盟为尊。而在古药郡，炼丹师的地位也是最高，远超普通修士。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;赵绝仙介绍。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;他作为北寒王，活了两千多岁，对大半个北荒，都了如指掌。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“嗯，找个地方安顿下来吧。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;陈凡不置可否，他目光落在那尊顶天立地，通体晶莹剔透，宛如赤霞的天炉上，不由眼睛微眯。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;药都占地辽阔，足有数百里，比北寒王城还大。天炉就在城外，宛如一座晶莹剔透的赤色山峰。而在城中，一座座高耸入云的尖塔耸立。赵绝仙说，那是‘丹塔’，只有受过丹盟考核确认的炼丹大师，才能建立丹塔。在古药郡，丹塔就是一个人身份地位的象征。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;但最高的，还是城中心，那座高达数千丈的古老石塔。那里是丹盟总部所在。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;接下来，两人入城，寻了处住所。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;药都不愧是药都，到处都是灵药商铺，还有动辄高达百丈的丹药商会。北寒域的金乌堂在这里，只算小巫。沿街叫卖的丹药，不乏灵丹，甚至有宝丹。到是天丹，陈凡并未看到。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“天丹世所罕见，除了最顶级的天丹师之外，一般丹师一辈子都无法炼成。”赵绝仙解释。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“这古药城的炼丹师，还分等级？”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;陈凡有些诧异。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“当然，丹盟将炼丹师，划分为一到九品，一品丹师最低，九品炼丹师最高。而在九品炼丹师之上，就是炼丹大师，可炼上品灵丹。而炼丹大师再上，则是炼丹宗师，可炼宝丹。主人您一路来，胜过的那三人，就是炼丹宗师。”赵绝仙毕恭毕敬道。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“至于炼丹宗师之上的天丹师，放眼天荒，都凤毛麟角，可与天君比肩而立。恐怕古药城内，最高的也就是炼丹宗师罢了。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;说到这，赵绝仙望了陈凡一眼。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;毕竟他可是亲眼看着，陈凡如何轻描淡写的，击溃药王木道人、九丹真君等炼丹宗师。那种神乎其技的丹术，简直不可思议。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“哦。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;陈凡点点头。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;哪怕是天丹师，又怎入陈凡眼中？论炼丹术，陈凡在众多合道真仙中，可能只算中上。但足以碾压天荒这偏远星域的低阶修士们了。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;在药都内住下后，陈凡就开始在整个城中闲逛。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“空幽草，上品灵药，是炼制玄灵天丹的辅药之一，没想到在这里碰见了。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“龙血宝树，下品宝药，可用来炼制顶级炼体丹。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“三生梦果，天材地宝，具备凝神炼魂的奇特功效，价值不逊色中品宝药...”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;对陈凡而言，这座药都，简直是一个巨大的宝库。他重生回来，无论在地球还是天荒，从没见过这么多种类灵药，许多种灵药，陈凡都以为天荒绝迹了，没想到还存在。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“不错，不错。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;陈凡眼都笑眯了。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;他在两界峰搜刮了三年，手中积累了好几株天药和顶级宝药。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;可惜每种天丹，都需要几十种，甚至几百种灵药搭配，仅凭天药是不够的。而直接生吞天药，又太浪费了，糟蹋许多药力，所以陈凡一直拖着。只炼了一炉混元天丹。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“那混元天丹，说好听点是天丹。说难听点，只是顶级宝丹罢了。”陈凡摇了摇头。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;混元天丹的主要功效，就是将先天修士提升至金丹。这任何一种天丹都能轻易做到，而天丹之所以号称天丹，就因为其夺天地造化，有鬼神莫测之功。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;比如陈凡想炼的‘玄灵天丹’，就具备修炼空间神通的功效。一枚玄灵天丹，就足以把‘鲲鹏天功’推进一大截。若有足够的玄灵天丹，陈凡能凝练出鲲鹏金丹来。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“神药难寻，恐怕整个北荒都未必有一株，但只要有足够的天药天丹，我也可凝成圣品金丹。”陈凡摸了摸下巴。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;可惜。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;几天下来，陈凡把半个药都逛下来，始终没有看到一家商会、商铺卖天药。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“这位道兄，天药是何等珍贵？无不垄断在各大天君世家和宗门手中。我这小店哪有。若说我们古药郡，哪里有天药的话，估计只有丹盟了。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;一位商铺老板笑道。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“丹盟？”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;陈凡抬头，望向那座与天炉比肩而立的高大尖塔。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“不错，丹盟传承数万年，是北荒最古老的势力之一。这数万年下来，不知道积累了多少株天药。哪怕大部分炼丹了，也应该还有留存。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;商铺老板说道。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“嗯，多谢。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;陈凡点头。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;接下来，陈凡虽然还收集灵药，但重点，主要放在了丹盟之上。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;丹盟的总部，是一座古老堆砌的石塔，高达数千丈，占地百里，无比巨大。在石塔上面，刻画了无数天阵，显然是当年那位古药天君留下，便是以陈凡的实力，若不硬闯的话，也没法偷偷进去。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“不能偷偷进去，咱就光明正大加入。反正这丹盟，并没有限制出身。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;陈凡笑了笑，他的目光落在一个招牌，上面赫然写着：</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“丹盟考核，将在三天后开始。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;...</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;丹盟考核，是专门考核炼丹师的考试，每三年举行一届。任何想要评测自己炼丹水平的人，都可来此考核，其中优秀的精锐，甚至会被收进丹盟。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;作为古药郡的主宰者，丹盟在整个北荒，乃至周围诸域，都享有超然地位。强如北荒王家，都不愿意轻易得罪丹盟。加入这样一个超级势力，自然会有无穷好处。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;三天后。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;丹盟总部前，可谓人山人海。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;无数从古药郡各地，乃至北荒诸郡赶来的炼丹师，把门口挤得水泄不通。甚至有从其他荒域来的炼丹天才们，不远数百万里而至。最后，还是有丹盟真君出手，施展法术，在半空凝出一片巨大平台，足有数十里大小，供数万炼丹师参加考试。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“听说这次，小丹君司徒宸也来参加考核了。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“不会吧，司徒宸可是我们古药郡百年来，最厉害的炼丹天才。据说二十岁那年，就晋升九品丹师。天赋直追丹君，所以被称作小丹君。他应该早成炼丹大师了，为什么来参加考核？”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;“不止，镇海郡吴家的丹道女奇才，吴青颜也来了。还有玄河宗师的关门弟子江寒、天海域的绝世怪才七绝丹师颜无妄...这些人，可都具备大师实力。平时对考核不屑一顾，但这次都来了。据传，是这次考核，几位长老和盟主，也会驾临，从考核最优秀者中，挑选弟子。”</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;周围的丹师们，议论纷纷。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;听到盟主要来，许多人都激动起来，双眼放光。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;陈凡抬头，果然看到，有几个男女，独立特群站在那。或面容冷峻，或飘然如仙，或周身毒雾环绕。周围人都散开，露出一大块空地，不敢与他们并肩。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;那几个男女，也神态傲然，显然懒得与其他人交流。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;顶级炼丹师，从气息上就可分别。必须神念精细入围、法力控制力极强、真元质量极高才可炼出绝世灵丹。从那几人气如汞浆，双眸如电，无比沉稳来看，必然在炼丹术上造诣匪浅。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;可惜陈凡只是扫了眼，就不再关注，转移目标望向高台。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;这一次的丹盟考核，终于要开始了。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;PS：这章...就算昨天的吧。终于把16号、17号的更新补完了。接下来，就会调整一下，恢复正常更新，卡文太痛苦了啊^_^。"
</div>
</div>
</body>
<script>

    var container = document.querySelector('.container');
    var windowWidth = 300;
    var windowHeight = 512;
    var lineHeight = 28;
    var fontSize = 28;

    var textContentSource = document.querySelector('.text-content');

    function splitScreenPage(textContent) {
        var textContentText = textContent.innerText;


        //计算一页大概多少字
        var wordsNum = parseInt((windowWidth * windowHeight) / (lineHeight * fontSize)) - 30;

        //剩余内容
        var textContentTextLast = textContentText.substring(wordsNum);

        //截取相对第一页大概的内容并赋值给原元素
        textContentText = textContentText.substring(0,wordsNum);
        textContent.innerText = textContentText;
       //拆分原元素内容为数组
        textContentText = textContentText.split('');
        //拆分剩下元素内容为数组
        textContentTextLast = textContentTextLast.split('');


        //创建新元素
        var textContentAppend = document.createElement('div');
        //新元素添加class
        textContentAppend.classList.add('text-content');

        //判断是否超出或没满框
        return assembleText(textContentText,
            textContentTextLast,
            textContent,
            textContentAppend);

    }
    function assembleText(textContentText,
                          textContentTextLast,
                          textContent,
                          textContentAppend) {
        var isOverFlow = textContent.offsetHeight > windowHeight;
        var loop = true;
        var char = '';
        var textContentTemp = '';
        var textContentAppendText = [];

        while (loop) {
            if (isOverFlow) {
                //移除最后一个字符
                char = textContentText.pop();
                //准备把最后一个字符赋值给新元素
                textContentAppendText.unshift(char);
            } else {
                //移除剩余内容的第一个字符
                char = textContentTextLast.shift();
                //剩余内容的第一个字符赋值给原元素
                textContentText.push(char);
            }

            //重新组装新原元素内容
            textContentTemp = textContentText.join('');
            //组装后内容赋值给第一个元素
            textContent.innerText = textContentTemp;
            //更新溢出状态
            if (isOverFlow) {
                loop = textContent.offsetHeight > windowHeight;
            } else {
                loop = textContent.offsetHeight < windowHeight;
            }
        }

        if (isOverFlow) {
            textContentAppend.innerText = textContentAppendText.join('') + textContentTextLast.join('');
        } else {
            //因为多加了一个字符，所以要减掉
            textContentText = textContent.innerText.split('');
            var overChar = textContentText.pop();
            textContent.innerText = textContentText.join('');
            textContentTextLast.unshift(overChar);
            //刚好满框或大于框了就把剩余内容赋值给新元素
            textContentAppend.innerText = textContentTextLast.join('');
        }


        return textContentAppend;
    }

    var newContent = splitScreenPage(textContentSource);

    container.appendChild(newContent);

    while (newContent.offsetHeight > windowHeight) {
        newContent = splitScreenPage(newContent);
        container.appendChild(newContent);
    }

</script>
</html>